.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.button{
    width:100%;
              padding: 10px;
              background-color: yellowgreen;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 72px);
  color: yellowgreen;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  background-color: black;
  border-radius: 8px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.google-btn {
  color: maroon;
}

.login-text {
  text-align: center;
}

.login-link {
  color: yellowgreen;
  cursor: pointer;
}
