.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: black;
  height: 70px;
  align-items: center;
}

.navbar-logo {
  color: yellowgreen;
  margin: 0;
}

.navbar-actions {
  display: flex;
  gap: 20px;
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.navbar-button:hover {
  color: yellowgreen;
}
