.searchbar-container{
    display: flex;
    flex-direction: column;  
    align-items: center;
    color: wheat;  
    gap: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
}
.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: yellowgreen;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.dropdown{
    padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: none;
            background-color: transparent;
}
.search-button{
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 3px;
}